@media (min-width: 1025px) and (max-width: 1200px) {

    /*==========  Header ==========*/

    .banner {
        padding: 50px 0px;
    }

    .home-decs h1 {
        font-size: 62px;
    }

    .highlight-inner h3 {
        font-size: 25px;
    }

    .feature-inner h2 {
        font-size: 42px;
    }

    /*==========  Quote Section ==========*/
    .quote {
        padding: 40px 0px;
    }

    .quote-left p {
        font-size: 12px;
    }

    .quote-left h6 {
        font-size: 10px;
        font-weight: 600;
    }

    .quote-desc h1 {
        font-size: 42px;
    }

    /*==========  Efficiency ==========*/
    .efficiency {
        padding: 40px 0px;
    }


    .effi-inner h1 {
        font-size: 42px;
    }

    /*==========  Design ==========*/

    .design {
        padding: 50px 0px;
    }

    .design-title h1 {
        font-size: 48px;
    }


    .insp-title h1 {
        font-size: 68px;
    }

    .faq-title h1 {
        font-size: 68px;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    /*==========  Header ==========*/

    .navbar-collapse {
        text-align: center;
    }

    .navbar .form-inline {
        display: block;
    }

    .banner {
        padding: 30px 0px 0px;
    }

    .home-decs h1 {
        font-size: 52px;
        line-height: 62px;
    }

    .highlight-inner h3 {
        font-size: 20px;
        line-height: 30px;
    }

    .feature-inner h2 {
        font-size: 42px;
        line-height: 52px;
    }


    /*==========  Features Section ==========*/
    .features {
        padding: 30px 0px;
    }

    .feature-inner h2 {
        font-size: 42px;
        line-height: 52px;
    }

    .feature-inner p {
        font-size: 14px;
        line-height: 24px;
    }


    /*==========  Quote Section ==========*/
    .quote {
        padding: 20px 0px;
    }


    .quote-left p {
        font-size: 10px;
        margin-left: 0px;
    }

    .quote-left h6 {
        font-size: 8px;
        margin-left: 0px;
    }

    .quote-desc h1 {
        font-size: 26px;
        line-height: 36px;
    }

    /*==========  Efficiency ==========*/
    .efficiency {
        padding: 0px;
    }

    .effi-inner {
        padding-top: 0px;
    }

    .effi-img {
        display: none;
    }

    .effi-inner h1 {
        font-size: 32px;
        margin-bottom: 10px;
    }

    .effi-inner p {
        font-size: 14px;
    }

    .effi-inner h6 img {
        margin-left: 5px;
    }

    .effi-inner h6 {
        font-size: 14px;
    }

    .btn-effi {
        font-size: 12px;
    }

    /*==========  Design ==========*/

    .design {
        padding: 20px 0px;
    }

    .design-title h1 {
        font-size: 20px;
        margin-bottom: 0px;
    }

    .design-title p {
        font-size: 13px;
        margin-bottom: 30px;
    }

    .design-inner {
        padding: 15px 25px;
    }

    .design-inner h4 {
        font-size: 18px;
    }

    .design-inner p {
        font-size: 14px;
    }



    /*==========  Inspirational ==========*/

    .insp-quote {
        padding: 10px 0px;
    }

    .insp-title {
        padding: 20px 0px 30px;
    }

    .insp-title h1 {
        font-size: 42px;
        margin-bottom: 10px;
    }

    .testimonial-inner {
        padding: 30px 10px 10px;
        margin-bottom: 20px;
    }


    /*==========  FAQ ==========*/
    .faq-footer {
        padding: 30px 0px;
    }

    .faq-title {
        padding: 20px 10px;
    }

    .faq-title h1 {
        font-size: 42px;
    }

    .botm-nav li a {
        font-size: 12px;
        font-weight: 500;
    }

    .copy p {
        font-size: 12px;
        font-weight: 500;
        text-align: right;
    }

}


@media (min-width: 481px) and (max-width: 767px) {

    /*==========  Header ==========*/
    .navbar-collapse {
        text-align: center;
    }

    .navbar .form-inline {
        display: block;
    }

    .banner {
        padding: 30px 0px;
    }

    .home-decs {
        text-align: center;
        padding: 30px 0px;
    }

    .home-decs h1 {
        font-size: 42px;
        line-height: 52px;
    }

    .highlight-inner h3 {
        font-size: 16px;
        line-height: 26px;
    }

    .high-img {
        display: none;
    }

    .feature-inner h2 {
        font-size: 42px;
    }


    /*==========  Features Section ==========*/
    .features {
        padding: 10px 0px;
    }

    .feature-inner {
        padding: 50px 50px 80px;
    }

    .feature-inner h2 {
        font-size: 28px;
        line-height: 38px;
    }

    .feature-inner p {
        font-size: 14px;
    }


    /*==========  Quote Section ==========*/
    .quote {
        padding: 20px 0px;
    }


    .quote-left p {
        font-size: 14px;
    }

    .quote-left h6 {
        font-size: 12px;
    }

    .quote-desc {
        padding: 30px 0px 0px 0px;
        text-align: center;
    }


    .quote-desc h1 {
        font-size: 26px;
        line-height: 36px;
    }

    /*==========  Efficiency ==========*/
    .efficiency {
        padding: 20px 0px;
    }

    .effi-inner {
        padding-top: 0px;
    }

    .effi-img {
        display: none;
    }

    .effi-inner h1 {
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 10px;
    }

    .effi-inner p {
        font-size: 14px;
        line-height: 24px;
    }

    .effi-inner h6 img {
        margin-left: 5px;
    }

    .effi-inner h6 {
        font-size: 14px;
    }

    .btn-effi {
        font-size: 12px;
    }

    /*==========  Design ==========*/

    .design {
        padding: 20px 0px;
        text-align: left;
    }

    .design-title h1 {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .design-title p {
        font-size: 13px;
        margin-bottom: 30px;
    }

    .design-inner {
        padding: 15px 25px;
    }

    .design-inner h4 {
        font-size: 18px;
    }

    .design-inner p {
        font-size: 14px;
    }



    /*==========  Inspirational ==========*/

    .insp-quote {
        padding: 10px 0px;
    }

    .insp-title {
        padding: 20px 0px 30px;
    }

    .insp-title h1 {
        font-size: 42px;
        margin-bottom: 10px;
    }

    .testimonial-inner {
        padding: 30px 10px 10px;
        margin-bottom: 20px;
    }


    /*==========  FAQ ==========*/
    .faq-footer {
        padding: 30px 0px;
    }

    .faq-title {
        padding: 20px 10px;
    }

    .faq-title h1 {
        font-size: 24px;
    }

    .botm-nav li a {
        font-size: 10px;
        font-weight: 400;
    }

    .copy p {
        font-size: 10px;
        font-weight: 400;
        text-align: right;
    }

}


@media (min-width: 320px) and (max-width: 480px) {
    /*==========  Header ==========*/
    .navbar-collapse {
        text-align: center;
    }

    .navbar .form-inline {
        display: block;
    }

    .banner {
        padding: 30px 0px;
    }

    .home-decs {
        text-align: center;
        padding: 30px 0px;
    }

    .home-decs h1 {
        font-size: 24px;
        line-height: 34px;
    }

    .highlight-inner h3 {
        font-size: 12px;
        line-height: 22px;
    }

    .high-img {
        display: none;
    }

    .feature-inner h2 {
        font-size: 42px;
    }


    /*==========  Features Section ==========*/
    .features {
        padding: 0px;
    }

    .feature-inner {
        padding: 50px 50px 80px;
    }

    .feature-inner h2 {
        font-size: 20px;
        line-height: 30px;
    }

    .feature-inner p {
        font-size: 11px;
    }
    
    .feature-inner h3 span{
        font-size: 80px;
    }

    /*==========  Quote Section ==========*/
    .quote {
        padding:0px;
    }


    .quote-left p {
        font-size: 10px;
        line-height: 20px;
        margin-left: 5px;
    }

    .quote-left h6 {
        font-size: 10px;
        margin-left: 5px;
    }

    .quote-desc {
        padding: 30px 0px 0px 0px;
        text-align: center;
    }


    .quote-desc h1 {
        font-size: 26px;
        line-height: 36px;
    }

    /*==========  Efficiency ==========*/
    .efficiency {
        padding: 40px 0px;
    }

    .effi-inner {
        padding-top: 0px;
    }

    .effi-img {
        display: none;
    }

    .effi-inner h1 {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 10px;
    }

    .effi-inner p {
        font-size: 12px;
        line-height: 22px;
    }

    .effi-inner h6 img {
        margin-left: 5px;
    }

    .effi-inner h6 {
        font-size: 12px;
    }

    .btn-effi {
        font-size: 12px;
    }

    /*==========  Design ==========*/

    .design {
        padding: 0px;
        text-align: left;
    }

    .design-title h1 {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 10px;
    }

    .design-title p {
        font-size: 12px;
        margin-bottom: 30px;
    }

    .design-inner {
        padding: 15px 25px;
    }

    .design-inner h4 {
        font-size: 16px;
    }

    .design-inner p {
        font-size: 12px;
    }



    /*==========  Inspirational ==========*/

    .insp-quote {
        padding: 10px 0px;
    }

    .insp-title {
        padding: 20px 0px 30px;
    }

    .insp-title h1 {
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 10px;
    }

    .testimonial-inner {
        padding: 20px 5px 5px;
        margin-bottom: 20px;
    }


    /*==========  FAQ ==========*/
    
    .card-body{
       font-size: 13px; 
    }
    
    .card-header .btn-link{
        font-size: 14px;
    }
    .faq-footer {
        padding: 30px 0px;
    }

    .faq-title {
        padding: 20px 10px;
    }

    .faq-title h1 {
        font-size: 18px;
        line-height: 28px;
    }

    .botm-nav li a {
        font-size: 6px;
        font-weight: 300;
    }

    .copy p {
        font-size: 6px;
        font-weight: 300;
        text-align: right;
    }

}